@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Outfit-VariableFont.woff2") format("woff2");
}

:root {
  --white: hsl(0 0% 100%);
  --slate-300: hsl(212 45% 89%);
  --slate-500: hsl(216 15% 48%);
  --slate-900: hsl(218 44% 22%);

  --font-sans: "Outfit", sans-serif;

  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--slate-300);
  font-family: var(--font-sans);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* --- utility classes --- */

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-preset-1 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2;
}

.text-preset-2 {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.013em;
}

/* --- end of utility classes */

.card {
  background-color: var(--white);
  max-width: 20rem;
  padding: var(--space-200) var(--space-200) var(--space-500);
  gap: var(--space-300);
  border-radius: 20px;
  box-shadow: 0 25px 25px hsl(0 0 0 / 0.047);
}
