:root {
  /* colours */
  --white: hsl(0 0% 100%);
  --slate-300: hsl(212 45% 89%);
  --slate-500: hsl(216 15% 48%);
  --slate-900: hsl(218 44% 22%);

  /* semantic colours */
  --clr-text-primary: var(--slate-900);
  --clr-text-secondary: var(--slate-500);
  --clr-bg-body: var(--slate-300);
  --clr-bg-card: var(--white);

  /* typography */
  --font-sans: "Outfit", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-sm: 0.9375rem; /* 15px */
  --fs-lg: 1.375rem; /* 22px */
  --lh-tight: 1.2;
  --lh-regular: 1.4;
  --letter-spacing: 0.013em;

  /* spacing */
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;

  /* border radius & box shadow */
  --radius-sm: 10px;
  --radius-lg: 20px;
  --shadow: 0 25px 25px 0 hsl(0 0% 0% / 0.0477);
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
