@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Outfit-VariableFont_wght.woff2") format("woff2");
}

@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-slate-900: hsl(218 44% 22%);
  --color-slate-500: hsl(216 15% 48%);
  --color-slate-300: hsl(212 45% 89%);
}

body {
  @apply font-outfit bg-slate-300;
}
