:root {
  /* COLORS */
  --color-white: hsl(0 0% 100%);
  --color-slate-300: hsl(212 45% 89%);
  --color-slate-500: hsl(216 15% 48%);
  --color-slate-900: hsl(218 44% 22%);

  /* TYPOGRAPHY */
  --font-family: Outfit, sans-serif;

  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* HEADINGS */
  --text-heading-lg-size: 1.375rem; /* 22px */
  --text-heading-lg-weight: var(--font-weight-bold);
  --text-heading-lg-line-height: 1.2;
  --text-heading-lg-letter-spacing: 0;

  /* BODY TEXT */
  --text-body-size: 1rem; /* 16px */
  --text-body-weight: var(--font-weight-regular);
  --text-body-line-height: 1.4;
  --text-body-letter-spacing: 0.0133em; /* 0.2px */

  /* SPACING */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2.5rem; /* 40px */
}

/* FONTS */

@font-face {
  font-family: Outfit;
  src: url("../fonts/Outfit.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

/* GLOBAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: var(--spacing-sm);
  display: grid;
  place-content: center;
  background-color: var(--color-slate-300);
  font-family: var(--font-family);
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* QR COMPONENT STYLES */

.qr-card {
  max-width: 20rem;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 hsl(0 0% 0% / 0.0477);
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-lg);
}

.qr-card__image {
  height: auto;
  border-radius: 10px;
}

.qr-card__title {
  margin-top: var(--spacing-md);
  color: var(--color-slate-900);
  font-weight: var(--text-heading-lg-weight);
  font-size: var(--text-heading-lg-size);
  line-height: var(--text-heading-lg-line-height);
  letter-spacing: var(--text-heading-lg-letter-spacing);
}

.qr-card__description {
  margin-top: var(--spacing-sm);
  color: var(--color-slate-500);
  font-weight: var(--text-body-weight);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line-height);
  letter-spacing: var(--text-body-letter-spacing);
}
